body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 161, 124);
    text-align: center;
}

article img {
    width: 70px;
    vertical-align: middle;
    margin: 1rem;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;
}

article h2 {
    font-size: 2rem;
}

header{
    height: 20vh;
    width: 100%;
    background-color: rgb(78, 122, 245);
    padding-bottom: 1rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;

}

header h1 {
    font-size: 4rem;
    text-decoration: underline;
}

header h3 {
    font-size: 1.5rem;
}